{% extends 'base.html' %} {%block content%}
<form action="" method="POST">{% csrf_token %}
    <p>タイトル：<input type='text' name='titile'></p>
    <input type='hidden' name='author' value='{{ user.username }}'>
    <input type='hidden' name='author_pk' value='{{ user.pk}}'>
    <p> <label for="id_memo">Memo:</label><textarea name="memo" cols="40" rows="10" required="" id="id_memo"></textarea></p>
    <p>
        <label for="id_priority">Priority:</label>
        <select name="priority" required="" id="id_priority">
                <option value="" selected="">---------</option>
              
                <option value="danger">high</option>
              
                <option value="info">normal</option>
              
                <option value="success">low</option>
              
              </select>
    </p>
    <p>DueDate：<input type='text' name='duedate'></p>
    <input type="submit" value="作成する">
</form>
{%endblock content%}